.profilePageWrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 1em;
    }
}
.noPosts{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0 12px 0;
    gap: 8px;
    font-size: 2em;
    background-color: #ffffff;
    width: 45%;
    border-radius: 8px;
    svg{
        font-size: 1.2em;
    }
}

// Profile Section Component
.profileSection {
    display: flex;
    width: 45%;
    background-color: #ffffff;
    border-radius: 8px;

    label{
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 6em;
            height: 6em;
        }
        p{
            font-size: 0.6em;
        }
    }
    #photo{
        display: none;
    }
    .clickable{
        cursor: pointer;
    }
    .notClickable{
        cursor: default;
    }

    .detailContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 1em;

        .details {
            display: flex;
            flex-direction: column;
            .nameDetails {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                .username {
                    color: #7f377f;
                    font-weight: 700;
                }

                .logOutBtn{
                    background: transparent;
                    border: none;
                    padding: 2px;
                    font-weight: 600;
                    border-radius: 6px;
                    background-color: rgb(198, 50, 50);
                    color: #ffc0c0;
                    padding: 3px;
                    transition: 0.2s ease;
                    cursor: pointer;
                    &:hover{
                        background-color: rgb(158, 33, 33);
                        transition: 0.2s ease;
                    }
                }

                button {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    background: transparent;
                    border: none;
                    padding: 2px;
                    font-weight: 600;
                    border-radius: 8px;
                    background-color: #ececec;
                    transition: 0.2s ease;
                    cursor: pointer;
                    &:hover{
                        background-color: #d2d2d2;
                        transition: 0.2s ease;
                    }
                }
                .requestSent{
                    background-color: #afeb9f;
                    color: rgb(55, 138, 55);
                    &:hover{
                        background-color: #83df69;
                    }
                }
                .friendStatus{
                    color: rgb(55, 138, 55);
                    font-weight: 700;
                }
            }

            .bio {
                max-width: 50%;
                display: flex;
                align-items: center;
                gap: 4px;
                svg{
                    color: gray;
                    transition: 0.2s ease;
                    cursor: pointer;
                        &:hover{
                        color: #333;
                        transition: 0.2s ease;
                    }
                }
            }
            .changeBio{
                position: relative;
                width: 45%;
                input{
                    border: 1px solid black;
                    border-radius: 7px;
                    padding: 4px;
                    font-size: 1em;
                }
                svg{
                    position: absolute;
                    right: 14px;
                    top: 3px;
                    color: rgb(42, 138, 42);
                    background: rgb(78, 225, 78);
                    border-radius: 6px;
                    transition: 0.2s ease;
                    cursor: pointer;
                    &:hover{
                        color: rgb(21, 91, 21);
                        background: rgb(29, 154, 29);
                        transition: 0.2s ease;
                    }
                }
            }
        }

        .switchBtns {
            width: 70%;
            align-self: center;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            input[type="radio"] {
                display: none;
            }

            label span {
                border-radius: 5px;
                font-weight: 600;
                color: #333;
                transition: all 0.3s;
                cursor: pointer;
            }

            input[type="radio"]:checked+span {
                color: rgb(92, 0, 92);
                text-decoration: underline;
                font-weight: 700;
                font-weight: bold;
            }

            label span:hover {
                text-decoration: underline;
            }
        }
    }
}

// About Component
.aboutWrapper{
    display: flex;
    flex-direction: column;
    width: 45%;
    background-color: #ffffff;
    border-radius: 8px;
    .createdAt{
        display: flex;
        gap: 6px;
        padding: 8px;
        p{
            &:nth-child(1){
                color: #7f377f;
                font-weight: 700;
            }
        }
    }
    .aboutContainer{
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 8px;
        width: 100%;
        height: max-content;
        .about{
            color: #7f377f;
            font-weight: 700;
        }
        .aboutContent{
            max-width: 50%;
            display: flex;
            gap: 4px;
            height: auto;
            overflow-wrap: break-word;
            word-break: break-word;
            svg{
                color: gray;
                transition: 0.2s ease;
                cursor: pointer;
                    &:hover{
                    color: #333;
                    transition: 0.2s ease;
                }
            }
        }
        .changeAbout{
            position: relative;
            width: 50%;
            input{
                width: 99%;
                border: 1px solid black;
                border-radius: 7px;
                padding: 4px 32px 4px 4px;
                font-size: 1em;
            }
            svg{
                position: absolute;
                right: -30px;
                top: 3px;
                color: rgb(42, 138, 42);
                background: rgb(78, 225, 78);
                border-radius: 6px;
                transition: 0.2s ease;
                cursor: pointer;
                &:hover{
                    color: rgb(21, 91, 21);
                    background: rgb(29, 154, 29);
                    transition: 0.2s ease;
                }
            }
        }
}
}

.friendsWrapper{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 45%;
    .friendContainer{
        border-radius: 8px;
    }
}

@media only screen and (max-width: 1000px) {
    .profileSection{
        width: 65%;
    }
    .aboutWrapper{
        width: 65%;
    }
    .friendsWrapper{
        width: 65%;
    }
    .noPosts{
        width: 65%;
    }
}

@media only screen and (max-width: 800px) {
    .profileSection{
        width: 80%;
    }
    .aboutWrapper{
        width: 80%;
    }
    .friendsWrapper{
        width: 80%;
    }
    .noPosts{
        width: 80%;
    }
}

@media only screen and (max-width: 620px) {
    .profileSection{
        width: 90%;
    }
    .aboutWrapper{
        width: 90%;
    }
    .friendsWrapper{
        width: 90%;
    }
    .noPosts{
        width: 90%;
    }
}

@media only screen and (max-width: 550px) {
    .profileSection{
        .detailContainer{
            .switchBtns{
                width: 90%;
            }
        }
    }
}

@media only screen and (max-width: 470px) {
    .profileSection{
        .detailContainer{
            .switchBtns{
                justify-content: space-evenly;
                width: 100%;
                font-size: 0.9em;
            }
        }
    }
}

@media only screen and (max-width: 430px) {
    .profileSection{
        .detailContainer{
            .switchBtns{
                font-size: 0.8em;
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .profileSection{
        width: 95%;
        .detailContainer{
            .switchBtns{
                width: 100%;
                font-size: 0.7em;
            }
        }
    }
}

@media only screen and (max-width: 350px) {
    .profileSection{
        .detailContainer{
            .switchBtns{
                font-size: 0.65em;
            }
        }
    }
}