html {
  background-color: #E9EBEE;
}

.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  height: 100vh;
}
.homePage .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100%;
  height: inherit;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: rgb(92, 0, 92);
  padding: 5px 0 5px 0;
}
.header .leftContainer {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 35%;
}
.header .leftContainer img {
  width: 4em;
  height: 3em;
  border-radius: 10%;
  cursor: pointer;
}
.header .leftContainer .searchDiv {
  position: relative;
  width: 100%;
}
.header .leftContainer .searchDiv input {
  width: 100%;
  padding: 6px;
  font-size: 1.15em;
  border-radius: 8px;
  outline: none;
  border: 1px solid gray;
}
.header .leftContainer .searchDiv label {
  position: absolute;
  right: -5px;
  top: 15%;
}
.header .leftContainer .searchDiv label svg {
  color: rgb(70, 70, 70);
}
.header .leftContainer .searchDiv button {
  display: none;
}
.header .rightContainer {
  display: flex;
  align-items: center;
}
.header .rightContainer .divider {
  border: 1px solid rgb(61, 0, 61);
  height: 1.5em;
  margin: 0 2px 0 2px;
}
.header .rightContainer .profileBox {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px 0.7em 4px 0.7em;
  border-radius: 6px;
  transition: 0.2s ease;
  cursor: pointer;
}
.header .rightContainer .profileBox:hover {
  transition: 0.2s ease;
  background-color: rgb(70, 0, 70);
}
.header .rightContainer .profileBox img {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}
.header .rightContainer .profileBox p {
  color: #ffffff;
}
.header .rightContainer .link {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 0.7em 10px 0.7em;
  border-radius: 6px;
  transition: 0.2s ease;
}
.header .rightContainer .link:hover {
  transition: 0.2s ease;
  background-color: rgb(70, 0, 70);
}
.header .rightContainer svg {
  color: rgb(8, 8, 8);
  padding: 8px 5px 8px 5px;
  border-radius: 6px;
  cursor: pointer;
}
.header .rightContainer svg:hover {
  transition: 0.2s ease;
  color: rgb(70, 70, 70);
}

.createPostContainer {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 45%;
}
.createPostContainer .headerContainer {
  background-color: #F5F6F7;
  padding: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 1px solid #c5c5c5;
}
.createPostContainer .headerContainer p {
  color: rgb(41, 41, 41);
  font-weight: 700;
}
.createPostContainer .textContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 1em 0 1em 0;
  border-bottom: 1px solid #c5c5c5;
  background: #ffffff;
}
.createPostContainer .textContainer img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}
.createPostContainer .textContainer textarea {
  display: flex;
  padding: 8px 0 0 8px;
  width: 85%;
  height: 100%;
  resize: none;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
}
.createPostContainer .textContainer textarea:focus {
  border-color: rgb(99, 99, 99);
}
.createPostContainer .btnContainer {
  display: flex;
  justify-content: space-between;
  padding: 8px 4px 8px 4px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #ffffff;
}
.createPostContainer .btnContainer .attachments {
  display: flex;
  gap: 1em;
}
.createPostContainer .btnContainer .attachments button, .createPostContainer .btnContainer .attachments .photoBtn {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #ececec;
  border: none;
  border-radius: 2em;
  padding: 4px 12px 4px 12px;
  transition: 0.2s ease;
  color: rgb(41, 41, 41);
  font-size: 0.9em;
  font-weight: 700;
  cursor: pointer;
}
.createPostContainer .btnContainer .attachments button:hover, .createPostContainer .btnContainer .attachments .photoBtn:hover {
  background-color: #d2d2d2;
  transition: 0.2s ease;
}
.createPostContainer .btnContainer .attachments button svg, .createPostContainer .btnContainer .attachments .photoBtn svg {
  color: rgb(94, 209, 121);
}
.createPostContainer .btnContainer .attachments input {
  display: none;
}
.createPostContainer .btnContainer .attachments .emoji svg {
  color: rgb(237, 217, 102);
}
.createPostContainer .btnContainer .attachments .emoji .emojiPicker {
  position: absolute;
  z-index: 3;
}
.createPostContainer .btnContainer .postBtn {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 100%;
  background-color: #964696;
  border: none;
  border-radius: 0.25em;
  padding: 4px 12px 4px 12px;
  transition: 0.2s ease;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}
.createPostContainer .btnContainer .postBtn:hover {
  background-color: #7f377f;
  transition: 0.2s ease;
}
.createPostContainer .btnContainer .postBtn:disabled {
  background-color: #c5c5c5;
  cursor: not-allowed;
}
.createPostContainer .btnContainer .postBtn svg {
  color: rgb(255, 255, 255);
}

.postWrapper {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.postWrapper .postContainer {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.postWrapper .postContainer .headerContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em;
}
.postWrapper .postContainer .headerContainer img {
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
}
.postWrapper .postContainer .headerContainer .details {
  display: flex;
  flex-direction: column;
}
.postWrapper .postContainer .headerContainer .details .nameDetails {
  display: flex;
  align-items: center;
  gap: 4px;
}
.postWrapper .postContainer .headerContainer .details .nameDetails .username {
  color: #7f377f;
  font-weight: 700;
  cursor: pointer;
}
.postWrapper .postContainer .headerContainer .details .nameDetails span {
  display: flex;
  align-items: center;
  color: #6b306b;
  font-weight: 700;
}
.postWrapper .postContainer .headerContainer .details .nameDetails span svg {
  color: rgb(58, 58, 58);
}
.postWrapper .postContainer .headerContainer .details .createdAt {
  color: rgb(107, 107, 107);
  font-size: 0.7em;
}
.postWrapper .postContainer .headerContainer .deleteBtn {
  position: absolute;
  background: transparent;
  right: 10px;
  border: none;
  color: rgb(243, 57, 57);
  transition: 0.2s ease;
  cursor: pointer;
}
.postWrapper .postContainer .headerContainer .deleteBtn:hover {
  transition: 0.2s ease;
  color: rgb(158, 23, 23);
}
.postWrapper .postContainer .contentContainer {
  display: flex;
  flex-direction: column;
  padding: 0 1em 0.6em 1em;
  border-bottom: 1px solid #c5c5c5;
  gap: 8px;
}
.postWrapper .postContainer .contentContainer img {
  width: 50%;
}
.postWrapper .postContainer .btnContainer {
  display: flex;
  gap: 1em;
  padding: 0.6em 1em 0.6em 1em;
}
.postWrapper .postContainer .btnContainer button, .postWrapper .postContainer .btnContainer label {
  border: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  gap: 6px;
  font-weight: 600;
  font-size: 0.85em;
  color: gray;
  transition: 0.2s ease;
  cursor: pointer;
}
.postWrapper .postContainer .btnContainer button svg, .postWrapper .postContainer .btnContainer label svg {
  font-size: 1.5em;
}
.postWrapper .postContainer .btnContainer button:hover, .postWrapper .postContainer .btnContainer label:hover {
  color: black;
  transition: 0.2s ease;
}
.postWrapper .postContainer .btnContainer .like {
  color: gray;
}
.postWrapper .postContainer .btnContainer .liked {
  color: #6b306b;
}
.postWrapper .commentsContainer {
  background-color: #F5F6F7;
  padding: 0.6em 1em 0.6em 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.postWrapper .commentsContainer .likesContainer {
  display: flex;
}
.postWrapper .commentsContainer .likesContainer .likeAmount {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #6b306b;
  font-size: 0.85em;
}
.postWrapper .commentsContainer .likesContainer .likeAmount svg {
  background: #6b306b;
  color: #ffffff;
  padding: 3px;
  font-size: 1.05em;
  border-radius: 50%;
}
.postWrapper .commentsContainer .comments {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.postWrapper .commentsContainer .comments .commentContainer {
  background: #EDEFF5;
  display: flex;
  gap: 1em;
  position: relative;
  padding: 6px;
}
.postWrapper .commentsContainer .comments .commentContainer img {
  width: 2.5em;
  height: 2.5em;
}
.postWrapper .commentsContainer .comments .commentContainer .detailContainer {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.postWrapper .commentsContainer .comments .commentContainer .detailContainer .details {
  display: flex;
  align-items: center;
  gap: 8px;
}
.postWrapper .commentsContainer .comments .commentContainer .detailContainer .details .username {
  color: #7f377f;
  font-weight: 700;
  cursor: pointer;
}
.postWrapper .commentsContainer .comments .commentContainer .detailContainer .details .content {
  font-size: 0.9em;
}
.postWrapper .commentsContainer .comments .commentContainer .detailContainer .createdAt {
  color: rgb(107, 107, 107);
  font-size: 0.6em;
  font-weight: 600;
}
.postWrapper .commentsContainer .comments .commentContainer .deleteBtn {
  position: absolute;
  right: 10px;
  border: none;
  color: rgb(243, 57, 57);
  transition: 0.2s ease;
  cursor: pointer;
}
.postWrapper .commentsContainer .comments .commentContainer .deleteBtn:hover {
  transition: 0.2s ease;
  color: rgb(158, 23, 23);
}
.postWrapper .commentsContainer .postComment {
  display: flex;
  align-items: center;
  gap: 12px;
}
.postWrapper .commentsContainer .postComment img {
  width: 3em;
  height: 3em;
}
.postWrapper .commentsContainer .postComment input {
  padding: 7px 5px 7px 5px;
  width: 100%;
  outline: none;
  border: 1px solid #c5c5c5;
}

@media only screen and (max-width: 1000px) {
  .createPostContainer {
    width: 65%;
  }
  .postWrapper {
    width: 65%;
  }
}
@media only screen and (max-width: 650px) {
  .createPostContainer {
    width: 85%;
  }
  .postWrapper {
    width: 85%;
  }
}
@media only screen and (max-width: 580px) {
  .header {
    justify-content: center;
  }
  .header .leftContainer {
    width: 20%;
  }
  .header .leftContainer .searchDiv {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .header .leftContainer {
    width: 12%;
  }
  .header .leftContainer img {
    width: 3em;
    height: 2em;
  }
  .header .profileBox {
    font-size: 0.8em;
  }
  .header a {
    font-size: 0.7em;
  }
  .header svg {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 400px) {
  .header {
    font-size: 0.8em;
  }
  .header .leftContainer {
    width: 9%;
  }
  .createPostContainer {
    width: 95%;
  }
  .postWrapper {
    width: 95%;
  }
}/*# sourceMappingURL=styles.css.map */